<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lokavidya.iitb.com.lvcreate">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@drawable/lokavidya_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.OTPVerificationActivity" />

        <receiver android:name=".receiver.OTPReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.CreateProjectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OngoingProjects" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="lokavidya.iitb.com.lvcreate.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.AddProjectDetails" />
        <activity
            android:name=".activity.OngoingProjects"
            android:theme="@style/CustomTabLayout" />
        <activity android:name=".activity.PreviewProjects" />
        <activity android:name=".activity.PublishedProjects" />
    </application>

</manifest>